#showcase .showcase-content {
  padding-top: 70px;
}


#navbar h1, #navbar ul, #navbar ul li {
  float: none;
  text-align: center;
}


#navbar ul li a {
  padding: 5px;
  border-bottom: 1px solid #444;
}

#home-info {
  height: 450px;
}

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
}


.box {
  float: none;
  width: 100%;
}


/* About Page */
#about-info .info-right, 
#about-info .info-left {
  float: none;
  width: 100%;
}

.l-heading {
  text-align: center;
  line-height: 30px;
}

